h1 {
  background-color: red;
}

.calc {
  background-color: grey;
  height: 390px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5%;
  margin: 0 auto;
}

.display {
  background-color: green;
  height: 80px;
  width: 270px;
  border: 1px solid black;
  border-radius: 20%;
  margin: 15px auto;
  font-size: 20px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 290px;
    height: 250px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
}

.flex-item {
    background-color: lightgrey;
    width: 60px;
    height: 50px;
    margin: 6px;
}
